type sys_order, domain;
type sys_order_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(sys_order)
#get_prop(sys_order, hisi_prop)	
#allow sys_order property_socket:sock_file write;
#allow sys_order socket_device:sock_file {read write};
